 <h1>Create a New Account</h1>
 <%= form_for "/users" do %>

      <%= label :username, "username" %>
      <%= text_field_tag :username %>

      <%= label :password, "password" %>
      <%= password_field_tag :password %>

      <%= submit_tag "Create Account" %>
      
   <%end%>