 <h1>Create a New Account</h1>
 <% if @user.errors %>
 	<%@user.errors.full_messages.each do |msg| %>
 	<div>	<%=msg%> </div> 
    <%end%>
    <br>
 <%end%>

 <%= form_for("/users", html: {class: "ui form"})do %>

      <%= label :username, "username" %>
      <%= text_field_tag :username %>

      <%= label :password, "password" %>
      <%= password_field_tag :password %>

      <%= submit_tag "Create Account" %>
      
   <%end%>