<!DOCTYPE html>
<html>
  <head>

  <title>FootballDraft2</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="ui inverted menu">
        <%if session["user_id"]%>
        <div id="logged_in">Logged in as: <%= User.find(session["user_id"]).username %> </div>  
         <a class="item" href="/login">Login</a> 
         <a class="item" href="/my_teams">My Team</a> 
         <a class="item" href="/players">All Players</a> 
  <%end%>


    </nav>
  

    <%= yield %>
  </body>
</html>
